* {
    box-sizing: border-box;
}

#armyImage img {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#armyName {
    font-family: "Grenze Gotisch", serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-size: 29px;
    background-color: #5f6e77;
    width: 400px;
    border: solid 8px #91925d;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grenze-gotisch-regular {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: inherit;
}

select.armySelect {
    text-align: center;
}

select.armySelect option {
    font-size: 30px;
}

select.armySelect:invalid {
    color:#4e4e4e;
    font-size: smaller;
}

select.missionSelect {
    width: 92%;
}

.mission select:invalid {
    color:#5d5d4e;
    font-size: smaller;
}

.mission button {
  border: inherit;
  background-color: inherit;
  color: #997;
  font: inherit;
  font-size: smaller;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}
#turnList {
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.turn {
    width: 48%;
    font-size:46%;
    margin: 0;
}

.turn:first-of-type {
    width: 100%;
    font-size: 100%;
    margin: 0;
}

.turnNumber {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #ddddaa;
    margin-top: 20px;
    margin-bottom: 4px;
}

.mission {
    background-color: #2e2e2e;
    color: #ddddaa;
    border-radius: 5px;
    padding: 1px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.score {
  width: 12%;
  background: inherit;
  border: none;
  color: inherit;
  font: inherit;
  text-align: right;
  caret-color: #646060;
}

.score:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#victory-points {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
