* {
    box-sizing: border-box;
}

#army-image img {
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#army-name {
    font-family: "Grenze Gotisch", serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

body {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-size: 29px;
    background-color: #5f6e77;
    width: 400px;
    border: solid 8px #91925d;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.grenze-gotisch-regular {
    font-family: "Grenze Gotisch", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.iceland-regular {
    font-family: "Iceland", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mission select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    width: 92%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: inherit;
}
.mission select:invalid {
    color:#5d5d4e;
    font-size: smaller;
}

#turnList {
    padding: 0 1em;
}

.turnNumber {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    color: #ddddaa;
    margin-top: 20px;
    margin-bottom: 4px;
}

.mission {
    background-color: #2e2e2e;
    color: #ddddaa;
    border-radius: 5px;
    padding: 1px 8px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}

.score {
  width: 12%;
  background: inherit;
  border: none;
  color: inherit;
  font: inherit;
  text-align: right;
}

.score:focus {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#victory-points {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
